/* 
     Colors:
background color: #F6CF57;
primary color: #DAF3FF;
nav-color: #003a70;

*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300&display=swap");

:root {
  --background-color: #f6cf57;
  --primary-color: #2f4858;
  --list-background-color: #ad2900;
  --nav-color: #003a70;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--primary-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.navbar {
  background-color: var(--nav-color);
}

.title {
  color: #d7918c;
}

.btn {
  background-color: var(--list-background-color);
  border: none;
  border-radius: 10px;
  color: var(--background-color);
  padding: 20px;
  width: 160px;
  text-transform: capitalize;
}

.btn:hover {
  background-color: var(--background-color);
  color: var(--list-background-color);
}

.modal-body img {
  height: 180px;
  width: 180px;
  background-color: var(--nav-color);
  border: 1px solid var(--list-background-color);
  border-radius: 50%;
  margin-bottom: 25px;
}
.close {
  color: var(--list-background-color);
  background: none;
  border: none;
  font-size: 2em;
}

h5 {
  text-transform: uppercase;
}

.pokemon-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 2em;
}

@media (max-width: 700px) {
  .pokemon-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .pokemon-list {
    grid-template-columns: 1fr 1fr;
  }
  .modal {
    margin-left: 20px;
    width: 90%;
  }
}
