/* 
     Colors:
background color: #F6CF57;
primary color: #DAF3FF;
nav-color: #003a70;

*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300&display=swap");
@import url("http://fonts.cdnfonts.com/css/pokemon-solid");

:root {
  --background-color: #ce1111;
  --primary-color: #003a70;
}

* {
  box-sizing: border-box;
}

html {
  max-width: 100%;
}

body {
  background-color: var(--background-color);
  color: var(--primary-color);
  font-family: "Pokemon Solid", sans-serif;
  font-weight: 500;
  font-size: 16px;
  max-width: 100%;
}

.navbar {
  background-color: var(--primary-color);
  letter-spacing: 7px;
}

.title {
  color: white;
}

.btn {
  background-color: var(--primary-color);
  border: none;
  border-radius: 10px;
  color: white;
  padding: 20px;
  width: 160px;
  text-transform: capitalize;
}

.btn:hover {
  background-color: var(--background-color);
  color: var(--primary-color);
}

ul .btn {
  letter-spacing: 4px;
}

.modal-body img {
  height: 180px;
  width: 180px;
  margin-bottom: 25px;
}

.close {
  color: var(--primary-color);
  background: none;
  border: none;
  font-size: 2em;
}

h5 {
  text-transform: uppercase;
}

.pokemon-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 2em;
}

@media (max-width: 1000px) {
  .pokemon-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 700px) {
  .pokemon-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .pokemon-list {
    grid-template-columns: 1fr;
  }
  .modal {
    margin-left: 20px;
    width: 90%;
  }
}
